.NewPost {
  display: flex;
  flex-flow: column;
  width: 30%;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
}

.PostButton {
  background-color: #5e00c9;
  padding: 10px 20px;
  width: 106%;
  border: none;
  color: #f3f3e6;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.PostButton:hover {
  background-color: #4b00a1;
}

.PostTitle {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #5e00c9;
  outline: none;
}
.PostBody {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #5e00c9;
  outline: none;
}
